{
  "arrowParens": "always",
  "bracketSameLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.{js,ts,vue,json}",
      "options": {
        "semi": true,
        "bracketSpacing": true,
        "trailingComma": "es5",
        "htmlWhitespaceSensitivity": "css"
      }
    },
    {
      "files": "*.css",
      "options": {
        "semi": true,
        "singleQuote": false,
        "htmlWhitespaceSensitivity": "css"
      }
    },
    { "files": "*.md", "options": { "htmlWhitespaceSensitivity": "css" } }
  ]
}
